.box{
    height: 400px;
    width: 400px;
    border: 2px solid white;
    background-color:#555;
    margin: 100px auto;
    border-radius: 30px;
    box-shadow: 2px 2px 9px black;
    background-image: url(image.pnb.jpg);
    background-size: cover;
    
}
.input{
    position: absolute;
    left: 37%;
   text-align: center;
   margin: 50px;
   border-radius: 20px;
   border: 2px solid white;
   box-shadow: 2px 2px 9px white;
   color: white;
   
}
button{
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    
}
input{
    border-radius: 10px;
    background-color:darkslategrey;
    color:black;
    border: 2px solid black;
}
input:hover{
    background-color:white;
}
button:hover{
    background-color:#555;
}
body{
    background-color: black;
}